variables:
  GET_SOURCES_ATTEMPTS: "3"
  GIT_DEPTH: "0"

default:
  before_script:
  - export DEBIAN_FRONTEND=noninteractive
  - apt-get update -yq && apt-get install -y curl lsb-release file
  - export DISTRO_CODENAME=`lsb_release -cs` && echo Using distro $DISTRO_CODENAME
  - echo Using ROS_DISTRO $ROS_DISTRO
  - echo "deb http://apt.roboception.de/stable $DISTRO_CODENAME main" > /etc/apt/sources.list.d/roboception-stable.list
  - if [ "$TESTING_DEBS" = "true" ]; then echo "deb http://apt.roboception.de/testing $DISTRO_CODENAME main" > /etc/apt/sources.list.d/roboception-testing.list ; fi
  - curl http://apt.roboception.de/archive.key | apt-key add -
  - apt-get update -yq
  - apt-get install -y ros-${ROS_DISTRO}-rc-common-msgs
  - rosdep install --from-paths . --ignore-src -r -y
  - export CMAKE_PREFIX_PATH="/opt/ros/$ROS_DISTRO"

stages:
  - build
  - test_clients
  - upload

#########################
# Templates using anchors
#########################
.amd64_foxy_t: &amd64_foxy_job
  image: ros:foxy-ros-base-focal
  tags:
    - amd64
    - docker

.amd64_humble_t: &amd64_humble_job
  image: ros:humble-ros-base-jammy
  tags:
    - amd64
    - docker

#############
# Templates
#############
.build_msgs:
  stage: build
  script:
    - cd rc_reason_msgs
    - mkdir build && cd build
    - cmake -DCMAKE_INSTALL_PREFIX="/opt/ros/$ROS_DISTRO" -DCMAKE_BUILD_TYPE=Release ..
    - make -j 4
    - CTEST_OUTPUT_ON_FAILURE=1 make test
    - make package
  artifacts:
    paths:
      - rc_reason_msgs/build/*.deb
    expire_in: 30 days

.build_msgs_testing:
  extends:
    - .build_msgs
  variables:
    TESTING_DEBS: "true"

.test_clients:
  stage: test_clients
  script:
    - dpkg -i rc_reason_msgs/build/*.deb
    - cd rc_reason_clients
    - python3 -m pytest --junitxml=junit_report.xml --log-cli-level=INFO -s
  artifacts:
    paths:
      - rc_reason_clients/junit_report.xml
    reports:
      junit: rc_reason_clients/junit_report.xml

.upload_deb:
  stage: upload
  image: registry.roboception.de/tools/docker_images:focal-buildimage
  before_script:
     - export DISTRO_CODENAME=`lsb_release -cs` && echo Using distro $DISTRO_CODENAME
  script:
    - if [ -z "$APT_REPO" ]; then export APT_REPO=testing; fi
    - DEBS=$(find . -maxdepth 3 -name "*~${DISTRO_CODENAME}_*.deb")
    - upload_deb.sh $DISTRO_CODENAME-$APT_REPO $DEBS

.upload_deb_testing:
  extends:
    - .upload_deb
  variables:
    APT_REPO: "testing"
  only:
    - master
  except:
    - tags

.upload_deb_stable:
  extends:
    - .upload_deb
  variables:
    APT_REPO: "stable"
  only:
    - /^v?[0-9]+\.[0-9]+\.[0-9]+/
  except:
    - branches

##############
#### Jobs ####
##############

# Test (on every commit)
########################
msgs:foxy:amd64:
  <<: *amd64_foxy_job
  extends: .build_msgs_testing

msgs:humble:amd64:
  <<: *amd64_humble_job
  extends: .build_msgs_testing

msgs_stable:foxy:amd64:
  <<: *amd64_foxy_job
  extends: .build_msgs

msgs_stable:humble:amd64:
  <<: *amd64_humble_job
  extends: .build_msgs

test:foxy:amd64:
  <<: *amd64_foxy_job
  extends: .test_clients
  dependencies:
    - msgs:foxy:amd64

test:humble:amd64:
  <<: *amd64_humble_job
  extends: .test_clients
  dependencies:
    - msgs:humble:amd64

# upload packages for master and tags
#####################################
upload_testing:focal:
  extends: .upload_deb_testing
  dependencies:
    - msgs:foxy:amd64
    - msgs:humble:amd64

upload_stable:focal:
  extends: .upload_deb_stable
  dependencies:
    - msgs_stable:foxy:amd64
    - msgs_stable:humble:amd64
